body{
    display: flex;
    background-color: #009DAE;
}

.c1{
    margin-left: auto; 
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: #FFE652;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.line{
    border-left: 1.2px solid #71DFE7;
    height: 25px;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: black;
    }
}